services:
  - type: web
    name: portfolio-laravel
    env: docker
    plan: free
    autoDeploy: true

    buildCommand: ""
    startCommand: ""

    envVars:
      - key: APP_ENV
        value: production
      - key: APP_DEBUG
        value: false
      - key: DB_CONNECTION
        value: mysql
      - key: DB_HOST
        value: mysql-ce07ab4-dailamalmuhibi008.h.aivencloud.com
      - key: DB_PORT
        value: 14321
      - key: DB_DATABASE
        value: defaultdb
      - key: DB_USERNAME
        value: avnadmin
      - key: DB_PASSWORD
        sync: false
      - key: DB_SSL
        value: true
      - key: DB_SSL_CA
        value: /var/www/html/aiven-ca.pem
