name: Deploy to Azure Web App

on:
  push:
    branches:
      - main

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Login to Azure Container Registry
        uses: azure/docker-login@v1
        with:
          login-server: ${{ secrets.ACR_LOGIN_SERVER }}
          username: ${{ secrets.ACR_USERNAME }}
          password: ${{ secrets.ACR_PASSWORD }}

      - name: Build & Push image to ACR
        run: |
          docker build -t ${{ secrets.ACR_LOGIN_SERVER }}/mywebapp:latest .
          docker push ${{ secrets.ACR_LOGIN_SERVER }}/mywebapp:latest

      - name: Deploy container to Azure Web App
        uses: azure/webapps-deploy@v2
        with:
          app-name: "Portfolio-Dailam" # nama Web App kamu
          images: "${{ secrets.ACR_LOGIN_SERVER }}/mywebapp:latest"
